In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('./DataSet/heart.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB
None

In [4]:
print(df.describe())

              age         sex          cp    trestbps        chol         fbs  \
count  303.000000  303.000000  303.000000  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  131.623762  246.264026    0.148515
std      9.082101    0.466011    1.032052   17.538143   51.830751    0.356198
min     29.000000    0.000000    0.000000   94.000000  126.000000    0.000000
25%     47.500000    0.000000    0.000000  120.000000  211.000000    0.000000
50%     55.000000    1.000000    1.000000  130.000000  240.000000    0.000000
75%     61.000000    1.000000    2.000000  140.000000  274.500000    0.000000
max     77.000000    1.000000    3.000000  200.000000  564.000000    1.000000

          restecg     thalach       exang     oldpeak       slope          ca  \
count  303.000000  303.000000  303.000000  303.000000  303.000000  303.000000
mean     0.528053  149.646865    0.326733    1.039604    1.399340    0.729373
std      0.525860   22.905161    0.469794    1.161075    0.616226    1.022606
min      0.000000   71.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000  133.500000    0.000000    0.000000    1.000000    0.000000
50%      1.000000  153.000000    0.000000    0.800000    1.000000    0.000000
75%      1.000000  166.000000    1.000000    1.600000    2.000000    1.000000
max      2.000000  202.000000    1.000000    6.200000    2.000000    4.000000

             thal      target
count  303.000000  303.000000
mean     2.313531    0.544554
std      0.612277    0.498835
min      0.000000    0.000000
25%      2.000000    0.000000
50%      2.000000    1.000000
75%      3.000000    1.000000
max      3.000000    1.000000

In [7]:
x = df.drop('target',axis=1)
y = df['target']

In [8]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [9]:
from sklearn.linear_model import LinearRegression

LR = LinearRegression()

LR.fit(x_train,y_train)

LinearRegression()

In [10]:
y_prediction = LR.predict(x_test)
y_prediction

array([ 0.20461609,  0.62932079,  0.71803669,  0.04394647,  0.93859572,
        0.82919673,  0.55248505, -0.31123783, -0.12686594,  0.50190798,
        0.67329639,  0.22858348,  0.83576074,  0.10160178,  1.1070706 ,
        0.90376346,  1.08827421,  0.21347573, -0.14247183, -0.02892816,
        0.60715419, -0.05665451,  0.35685167,  0.68434807,  0.88713565,
        0.60700687,  0.81935794,  0.53123747, -0.10013016,  0.8970951 ,
        0.05884203,  0.07332101, -0.14826886,  0.24195448,  0.69307817,
        0.19714348,  0.66820272,  0.77828265,  0.68233201,  0.75469071,
        0.49240619,  0.64012072,  0.75759582,  0.67302635,  0.74556992,
       -0.1916457 ,  0.66356747,  0.91773248,  0.22766617, -0.00575935,
        0.15521194, -0.13222102,  0.78206754,  1.04130301,  0.33798087,
       -0.2796243 ,  0.11850097,  0.94519132,  0.01120021, -0.218084  ,
        0.15742582])

In [11]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

score = r2_score(y_test, y_prediction)
MSE = mean_squared_error(y_test,y_prediction)
print('R2 Score = {}'.format(score))
print('Mean Squared Error = {}'.format(MSE))
print('root_mean_squared error of is==',np.sqrt(mean_squared_error(y_test,y_prediction)))

R2 Score = 0.5337894947682484
Mean Squared Error = 0.11627071992880018
root_mean_squared error of is== 0.3409849262486543